@font-face {
  font-family: "Gipsy Curse";
  src: url(../fonts/Gypsy_Curse.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled):active:focus,
.navbar .navbar-nav > a.btn:not(:disabled):not(.disabled).active,
.navbar .navbar-nav > a.btn:not(:disabled):not(.disabled).active:focus,
.navbar .navbar-nav > a.btn:not(:disabled):not(.disabled):active,
.navbar .navbar-nav > a.btn:not(:disabled):not(.disabled):active:focus {
  background-color: #979797;
  color: #140909;
  box-shadow: none;
}
.btn.btn-simple:not(:disabled):not(.disabled).active,
.btn.btn-simple:not(:disabled):not(.disabled).active:focus,
.btn.btn-simple:not(:disabled):not(.disabled):active,
.btn.btn-simple:not(:disabled):not(.disabled):active:focus,
.navbar .navbar-nav > a.btn.btn-simple:not(:disabled):not(.disabled).active,
.navbar
  .navbar-nav
  > a.btn.btn-simple:not(:disabled):not(.disabled).active:focus,
.navbar .navbar-nav > a.btn.btn-simple:not(:disabled):not(.disabled):active,
.navbar
  .navbar-nav
  > a.btn.btn-simple:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #979797;
  border-color: #979797;
  box-shadow: none;
}
.btn.btn-link:not(:disabled):not(.disabled).active,
.btn.btn-link:not(:disabled):not(.disabled).active:focus,
.btn.btn-link:not(:disabled):not(.disabled):active,
.btn.btn-link:not(:disabled):not(.disabled):active:focus,
.navbar .navbar-nav > a.btn.btn-link:not(:disabled):not(.disabled).active,
.navbar .navbar-nav > a.btn.btn-link:not(:disabled):not(.disabled).active:focus,
.navbar .navbar-nav > a.btn.btn-link:not(:disabled):not(.disabled):active,
.navbar
  .navbar-nav
  > a.btn.btn-link:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #979797;
  text-decoration: none;
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: #e33838;
  color: #140909;
  box-shadow: none;
}
.btn-primary.btn-simple:not(:disabled):not(.disabled).active,
.btn-primary.btn-simple:not(:disabled):not(.disabled).active:focus,
.btn-primary.btn-simple:not(:disabled):not(.disabled):active,
.btn-primary.btn-simple:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #e33838;
  border-color: #e33838;
  box-shadow: none;
}
.btn-primary.btn-link:not(:disabled):not(.disabled).active,
.btn-primary.btn-link:not(:disabled):not(.disabled).active:focus,
.btn-primary.btn-link:not(:disabled):not(.disabled):active,
.btn-primary.btn-link:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #e33838;
  text-decoration: none;
  box-shadow: none;
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled):active:focus {
  background-color: #1beb11;
  color: #140909;
  box-shadow: none;
}
.btn-success.btn-simple:not(:disabled):not(.disabled).active,
.btn-success.btn-simple:not(:disabled):not(.disabled).active:focus,
.btn-success.btn-simple:not(:disabled):not(.disabled):active,
.btn-success.btn-simple:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #1beb11;
  border-color: #1beb11;
  box-shadow: none;
}
.btn-success.btn-link:not(:disabled):not(.disabled).active,
.btn-success.btn-link:not(:disabled):not(.disabled).active:focus,
.btn-success.btn-link:not(:disabled):not(.disabled):active,
.btn-success.btn-link:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #1beb11;
  text-decoration: none;
  box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled):active:focus {
  background-color: #4bb5ff;
  color: #140909;
  box-shadow: none;
}
.btn-info.btn-simple:not(:disabled):not(.disabled).active,
.btn-info.btn-simple:not(:disabled):not(.disabled).active:focus,
.btn-info.btn-simple:not(:disabled):not(.disabled):active,
.btn-info.btn-simple:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #4bb5ff;
  border-color: #4bb5ff;
  box-shadow: none;
}
.btn-info.btn-link:not(:disabled):not(.disabled).active,
.btn-info.btn-link:not(:disabled):not(.disabled).active:focus,
.btn-info.btn-link:not(:disabled):not(.disabled):active,
.btn-info.btn-link:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #4bb5ff;
  text-decoration: none;
  box-shadow: none;
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled):active:focus {
  background-color: #ffbe55;
  color: #140909;
  box-shadow: none;
}
.btn-warning.btn-simple:not(:disabled):not(.disabled).active,
.btn-warning.btn-simple:not(:disabled):not(.disabled).active:focus,
.btn-warning.btn-simple:not(:disabled):not(.disabled):active,
.btn-warning.btn-simple:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #ffbe55;
  border-color: #ffbe55;
  box-shadow: none;
}
.btn-warning.btn-link:not(:disabled):not(.disabled).active,
.btn-warning.btn-link:not(:disabled):not(.disabled).active:focus,
.btn-warning.btn-link:not(:disabled):not(.disabled):active,
.btn-warning.btn-link:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #ffbe55;
  text-decoration: none;
  box-shadow: none;
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled):active:focus {
  background-color: #f55;
  color: #140909;
  box-shadow: none;
}
.btn-danger.btn-simple:not(:disabled):not(.disabled).active,
.btn-danger.btn-simple:not(:disabled):not(.disabled).active:focus,
.btn-danger.btn-simple:not(:disabled):not(.disabled):active,
.btn-danger.btn-simple:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #f55;
  border-color: #f55;
  box-shadow: none;
}
.btn-danger.btn-link:not(:disabled):not(.disabled).active,
.btn-danger.btn-link:not(:disabled):not(.disabled).active:focus,
.btn-danger.btn-link:not(:disabled):not(.disabled):active,
.btn-danger.btn-link:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #f55;
  text-decoration: none;
  box-shadow: none;
}
.btn-neutral:not(:disabled):not(.disabled).active,
.btn-neutral:not(:disabled):not(.disabled).active:focus,
.btn-neutral:not(:disabled):not(.disabled):active,
.btn-neutral:not(:disabled):not(.disabled):active:focus {
  background-color: #fff;
  color: #140909;
  box-shadow: none;
}
.btn-neutral.btn-simple:not(:disabled):not(.disabled).active,
.btn-neutral.btn-simple:not(:disabled):not(.disabled).active:focus,
.btn-neutral.btn-simple:not(:disabled):not(.disabled):active,
.btn-neutral.btn-simple:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  box-shadow: none;
}
.btn-neutral.btn-link:not(:disabled):not(.disabled).active,
.btn-neutral.btn-link:not(:disabled):not(.disabled).active:focus,
.btn-neutral.btn-link:not(:disabled):not(.disabled):active,
.btn-neutral.btn-link:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}
button {
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
a {
  color: #dd1f1f;
}
a:focus,
a:hover {
  color: #dd1f1f;
}
h1 {
  font-size: 3.5em;
  line-height: 1.15;
  margin-bottom: 30px;
}
h2 {
  font-size: 5em;
  margin-bottom: 30px;
}
h3 {
  font-size: 1.825em;
  margin-bottom: 30px;
  line-height: 1.4em;
}
h4 {
  font-size: 1.5em;
  line-height: 1.45em;
  margin-top: 30px;
  margin-bottom: 15px;
}
h5 {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-bottom: 15px;
}
p {
  line-height: 1.61em;
  font-weight: 300;
  font-size: 1.2em;
}
.title {
  font-weight: 400;
  padding-top: 30px;
}
#main-title {
  font-weight: 400;
  font-size: 7em;
}
.description {
  color: #9a9a9a;
  font-weight: 400;
}
body {
  color: #fff;
  font-size: 14px;
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.title {
  font-family: "Gipsy Curse";
}
.nav-item .nav-link,
.navbar {
  transition: all 0.3s ease 0s;
}
@font-face {
  font-family: "Nucleo Outline";
  src: url(../fonts/nucleo-outline.eot);
  src: url(../fonts/nucleo-outline.eot) format("embedded-opentype"),
    url(../fonts/nucleo-outline.woff2) format("woff2"),
    url(../fonts/nucleo-outline.woff) format("woff"),
    url(../fonts/nucleo-outline.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
.navbar {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  min-height: 53px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.navbar a {
  vertical-align: middle;
}
.navbar a:not(.btn):not(.dropdown-item) {
  color: #fff;
}
.navbar .navbar-nav .nav-link:not(.btn) {
  text-transform: uppercase;
  font-size: 0.7142em;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
}
.navbar .navbar-nav .nav-item .nav-link:not(.btn):active,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.1875rem;
}
.navbar .navbar-brand {
  font-size: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.625rem;
  font-family: "Gipsy Curse";
}
.navbar .navbar-toggler {
  width: 37px;
  height: 27px;
  outline: 0;
  cursor: pointer;
}
.navbar.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none;
  color: #fff;
  padding-top: 20px !important;
}
img {
  max-width: 100%;
  border-radius: 1px;
}
.card-shop {
  background-color: rgba(0, 0, 0, 0.5);
}
.section {
  padding: 70px 0;
  position: relative;
  background-image: url(../img/background.jpg);
}
.page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: #140909;
  position: relative;
  overflow: hidden;
}
.page-header.page-header-small {
  min-height: 60vh;
  max-height: 440px;
}
.page-header:before {
  background-color: rgba(0, 0, 0, 0.3);
}
.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.page-header .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 0 15px;
  width: 100%;
  max-width: 880px;
}
.page-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}
.page-header .description {
  color: rgba(255, 255, 255, 0.8);
}
.page-header:after,
.page-header:before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}
.clear-filter:after,
.clear-filter:before {
  display: none;
}
.clear-filter[filter-color="primary"] {
  background: rgba(0, 0, 0, 0.8);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}
.section-story-overview {
  padding: 50px 0;
}
.section-story-overview .image-container {
  height: 335px;
  position: relative;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}
[data-background-color]:not([data-background-color="gray"])
  .radio
  input[type="radio"]:not(:disabled):hover
  + label::after {
  background-color: #140909;
  border-color: #140909;
}
[data-background-color]:not([data-background-color="gray"])
  .btn.btn-simple:not(:disabled):not(.disabled).active,
[data-background-color]:not([data-background-color="gray"])
  .btn.btn-simple:not(:disabled):not(.disabled).active:focus,
[data-background-color]:not([data-background-color="gray"])
  .btn.btn-simple:not(:disabled):not(.disabled):active,
[data-background-color]:not([data-background-color="gray"])
  .btn.btn-simple:not(:disabled):not(.disabled):active:focus {
  background-color: transparent;
  border-color: #140909;
  color: #140909;
}
@media screen and (min-width: 992px) {
  .navbar-collapse:not(.has-image) {
    background: 0 0 !important;
  }
  .navbar-nav .nav-item:not(:last-child) {
    margin-right: 5px;
  }
}
@media screen and (max-width: 576px) {
  .navbar[class*="navbar-expand-"] .container {
    margin-left: 0;
    margin-right: 0;
  }
}
