#logo {
  width: 25vh;
}

.page-header {
  height: 100vh !important;
  max-height: 100vh !important;
}

.page-header-image video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

nav {
  background-color: black;
}
footer {
  background-color: black;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

@media screen and (max-width: 640px) {
  #main-title {
    font-size: 4em;
  }
}

@media screen and (max-width: 990px) {
  .navbar-toggler {
    position: absolute;
    right: 20px;
  }

  .navbar-nav {
    background-color: black;
  }
}
